.kids-section{
    position: relative;
    font-family: "messapia";
}
.kids-section img{
    height: 650px;
    width: 100%;
}
.cont{
    position: absolute;
    top: 470px;
    left: 650px;
    color: white;
}
.fashion{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    
}

.cont button{
    width: 120px;
    height: 40px;
    border: none;
    outline: none;

}